<html>
  <h1>
    ¡picoso!
  </h1>

  <h2>
    Los Chiles:
  </h2>
  <table>
    <tr>
      <th>Chile</th>
      <th>Flavor</th>
      <th>Heat</th>
    </tr>
    <% @chiles.each do |chile| %>
    <tr>
      <td><%= chile.name %></td>
      <td><%= chile.flavor %></td>
      <td><%= chile.heat %></td>
    </tr>
  <% end %>
  </table>
</html>
