.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.navbar-header {
  padding-right: 10px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.container .jumbotron{
  padding-top: 5px;
  padding-bottom: 5px;
}
